<div class="float-right">
  <button class="btn btn-primary fas fa-play" ng-show="stopped" ng-class="btn_class" ng-click="start()"></button>
  <button class="btn btn-primary fas fa-pause" ng-show="loading" ng-class="btn_class" ng-click="stop()"></button>
</div>
<br>
<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Server Load Averages 1-5-15</h6>
      </div>
      <div class="card-body">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"
          chart-options="options" chart-click="onClick" chart-colors="colors">
        </canvas>
      </div>
    </div>
  </div>
</div>